<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GoldenEagle_website</title>

    <script type="text/javascript">
      var gew = {
        selectTab: function (e) { e.preventDefault(); $(this).tab('show'); },
        toggleNavbarSubmenu: function (showHide) {
          var header = document.querySelector('#header');
          var method = showHide === 'show' ? 'add' : 'remove';
          header.classList[method]('gew_navbar-submenu--visible');
        }
      }
    </script>

		<!-- RequireJS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
		<script type="text/javascript">
			requirejs.config({
				baseUrl: '/js',
				paths: {
					'react': 'https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min',
					'react-dom': 'https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min'
				},
			});
		</script>


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="gew_{{section}}">
		<div id="header">
        <div onclick="gew.toggleNavbarSubmenu('hide')" class="gew_navbar-submenu-pageOverlay"></div>
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">
								<img
				          class="gew_navbar-logo"
				          sizes="50px"
				          src="{{srcSet 'logo_uiauoz.svg' 50}}"
				          alt="Golden Eagle"
									height="50px"
				        />
              </a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
  									<li class="{{#ifeq ../section key}}active{{/ifeq}}">
  										<a href="{{ href }}"
                          {{#if submenu}}
                            onmouseover="gew.toggleNavbarSubmenu('show')"
                            onclick="gew.toggleNavbarSubmenu('hide')"
                          {{/if}}
                        >
                        {{ label }}
                      </a>

                      {{#if submenu}}
                        <div class="gew_navbar-submenu container">
                          <div class="row">
                            {{#each submenu}}
                              <a href="{{ href }}" class="col-sm-6  gew_navbar-submenu-btn">
																<img
																	class="gew_navbar-submenu-background"
																	srcset="{{srcSet background}}"
																	sizes="(max-width: 1150px) 100vw, 50vw"
																	src="{{srcSet background 700}}"
																	alt="{{ label }}"
																/>
                                <div class="gew_navbar-submenu-overlay"></div>
                                <span class="gew_navbar-submenu-title">{{ label }}</span>
                              </a>
                            {{/each}}
                          </div>
                        </div>
                      {{/if}}
  									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a>Language</a></li>
								<li><a>Search</a></li>
							</ul>
            </div>
          </div>
				</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>


    <footer class="gew_footer">
      <div class="container gew_footer-content">
        <div class="row">
          <div class="col-sm-6 gew_footer-col-left">
            <p class="gew_footer-biggerFont">London 05:51pm</p>
            <p>
              10 Portman Street </br>
              London, W1H 6DZ </br>
              United Kingdom </br>
            </br>
            T: +44 (0)20 7495 4422</br>
            E: property@golden-eagle.co.uk</br>
          </p>
        </div>
        <div class="col-sm-6 gew_footer-col-right">
					<img
						class="gew_footer-logo"
						srcset="{{srcSet 'logo-big_qrq5jc.png'}}"
						sizes="(max-width: 768px) 100vw, 30vw"
						src="{{srcSet 'logo-big_qrq5jc.png' 400}}"
						alt="Golden Eagle Logo"
					/>
        </div>
      </div>

      <div class="row gew_footer-bottom">
        <div class="col-sm-6 gew_footer-col-left">
          <a href="#">Privacy & Legal</a>
        </div>
        <div class="col-sm-6 gew_footer-col-right">
          @2016 Golden Eagle International Ltd
        </div>
      </div>
    </div>
	</footer>


		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
	</body>
</html>
