<div class="container gew_about-landing gew_landingSection">
  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs gew_tabs gew_sectionContent" role="tablist">
  <li role="presentation" class="active">
    <a href="#home" aria-controls="home" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_1.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_2.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_3.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_4.title}}
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content gew_doubleColumn gew_sectionContent">
  <div role="tabpanel" class="row tab-pane active" id="home">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_1.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_1.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="profile">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_2.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_2.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="messages">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_3.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_3.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="settings">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_4.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_4.content_2}}}
    </div>
  </div>
</div>

<!-- Paul's quote photos -->
<div class="gew_about-quoteSection gew_sectionContent-extraPadding">
  <div class="gew_heroText gew_about-quoteSection-quote">
    {{data.section_3.content_1}}
  </div>
  <div class="row">
    <div class="col-sm-6">
      <span class="gew_about-quoteSection-author">Radi Siha</span>
      <span class="gew_about-quoteSection-role">Chairman &amp; CEO</span>
    </div>
    <div class="col-sm-6">
      <span class="gew_about-quoteSection-author">Paul Siha</span>
      <span class="gew_about-quoteSection-role">Managing Director</span>
    </div>
  </div>
</div>

<!-- Staff photos -->
<div class="container gew_sectionContent">
  <div class="row">
    {{#each staff}}
      <div class="col-sm-6 gew_about-staffCard">
        <img alt="{{name}}" src="{{photo}}" class="gew_about-staffCard-photo"/>

        <div class="gew_about-staffCard-footer">
          <div class="gew_about-staffCard-info">
            <span class="gew_about-staffCard-info-name">{{name}}</span>
            <span class="gew_about-staffCard-info-tel">{{tel}}</span>
          </div>
          <div class="gew_about-staffCard-buttons">
            <button type="button" name="button" class="btn btn-primary">Email</button>
            <button type="button" name="button" class="btn btn-primary">Vcard</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>
