<section class="container gew_about-landing gew_landingSection">
  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</section>

<!-- Nav tabs -->
<section class="gew_tabs-wrapper">
  <ul class="nav nav-tabs gew_tabs gew_sectionContent" role="tablist">
    <li role="presentation" class="active">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab" onclick="gew.selectTab">
        {{data.tab_1.title}}
      </a>
    </li>
    <li role="presentation">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" onclick="gew.selectTab">
        {{data.tab_2.title}}
      </a>
    </li>
    <li role="presentation">
      <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" onclick="gew.selectTab">
        {{data.tab_3.title}}
      </a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" onclick="gew.selectTab">
        {{data.tab_4.title}}
      </a>
    </li>
  </ul>
</section>

<!-- Tab panes -->
<section class="tab-content gew_doubleColumn gew_sectionContent">
  <div role="tabpanel" class="row tab-pane active" id="home">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_1.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_1.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="profile">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_2.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_2.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="messages">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_3.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_3.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="settings">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_4.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_4.content_2}}}
    </div>
  </div>
</section>

<!-- Paul's quote photos -->
<section class="gew_about-quoteSection">
  <div class="gew_sectionContent">
    <div class="gew_heroText gew_about-quoteSection-quote">
      {{data.section_3.content_1}}
    </div>
    <div class="row">
      <div class="col-sm-6">
        <span class="gew_about-quoteSection-author">Radi Siha</span>
        <span class="gew_about-quoteSection-role">Chairman &amp; CEO</span>
      </div>
      <div class="col-sm-6">
        <span class="gew_about-quoteSection-author">Paul Siha</span>
        <span class="gew_about-quoteSection-role">Managing Director</span>
      </div>
    </div>
  </div>
</section>

<!-- Staff photos -->
<section class="container gew_sectionContent gew_about-staffCards">
  <div class="row">
    {{#each staff}}
      <div class="col-sm-6 gew_about-staffCard">

        <img
          class="gew_about-staffCard-photo"
          srcset="{{srcSet photo}}"
          sizes="(max-width: 768px) 100vw, 50vw"
          src="{{srcSet photo 700}}"
          alt="{{name}}"
        />

        <div class="gew_about-staffCard-footer">
          <div class="gew_about-staffCard-info">
            <span class="gew_about-staffCard-info-name">{{name}}</span>
            <span class="gew_about-staffCard-info-tel">{{tel}}</span>
          </div>
          <div class="gew_about-staffCard-buttons">
            <button type="button" name="button" class="btn btn-primary">Email</button>
            <button type="button" name="button" class="btn btn-primary">Vcard</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>

<section class="bg-primary ">
  <div class="gew_sectionContent">
    <div class="gew_slider js_gew_about-quoteSlider">
      <button class="gew_slider-btn-prev">◀</button>
      <button class="gew_slider-btn-next">▶</button>

      <div class="gew_slider-slides">
        <div class="gew_slider-slide gew_slider-slide--active">
          <p class="gew_heroText gew_about-quoteSlider-quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="gew_about-quoteSlider-author">John Smith</span>
          <span class="gew_about-quoteSlider-role">Company Position</span>
        </div>
        <div class="gew_slider-slide">
          <p class="gew_heroText gew_about-quoteSlider-quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="gew_about-quoteSlider-author">John Smith</span>
          <span class="gew_about-quoteSlider-role">Company Position</span>
        </div>
        <div class="gew_slider-slide">
          <p class="gew_heroText gew_about-quoteSlider-quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="gew_about-quoteSlider-author">John Smith</span>
          <span class="gew_about-quoteSlider-role">Company Position</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gew_sectionContent">
  <h2 class="text-center">History</h2>

  <div class="gew_slider2 gew_about-historySlider js_gew_about-historySlider">
    <button class="gew_slider2-btn-prev">◀</button>
    <button class="gew_slider2-btn-next">▶</button>
    <div class="gew_slider2-contentWrapper">
      <div class="gew_slider2-content">

        <div class="gew_about-history gew_slider2-content">
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1978</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntt.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1979</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1980</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1981</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1982</h3>
            <p>
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1983</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1984</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/components/slider1.js"></script>
<script type="text/javascript" src="/js/components/slider2.js"></script>
<script type="text/javascript">
  gewSlider1(document.querySelector('.js_gew_about-quoteSlider'));
  gewSlider2(document.querySelector('.js_gew_about-historySlider'));
</script>
