<div class="container gew_about-landing gew_landingSection">
  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs gew_tabs gew_sectionContent" role="tablist">
  <li role="presentation" class="active">
    <a href="#home" aria-controls="home" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_1.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_2.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_3.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" onclick="gew.selectTab">
      {{data.tab_4.title}}
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content gew_doubleColumn gew_sectionContent">
  <div role="tabpanel" class="row tab-pane active" id="home">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_1.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_1.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="profile">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_2.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_2.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="messages">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_3.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_3.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="settings">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_4.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_4.content_2}}}
    </div>
  </div>
</div>

<!-- Paul's quote photos -->
<div class="gew_about-quoteSection gew_sectionContent-extraPadding">
  <div class="gew_heroText gew_about-quoteSection-quote">
    {{data.section_3.content_1}}
  </div>
  <div class="row">
    <div class="col-sm-6">
      <span class="gew_about-quoteSection-author">Radi Siha</span>
      <span class="gew_about-quoteSection-role">Chairman &amp; CEO</span>
    </div>
    <div class="col-sm-6">
      <span class="gew_about-quoteSection-author">Paul Siha</span>
      <span class="gew_about-quoteSection-role">Managing Director</span>
    </div>
  </div>
</div>

<!-- Staff photos -->
<div class="container gew_sectionContent gew_about-staffCards">
  <div class="row">
    {{#each staff}}
      <div class="col-sm-6 gew_about-staffCard">
        <img alt="{{name}}" src="{{photo}}" class="gew_about-staffCard-photo"/>

        <div class="gew_about-staffCard-footer">
          <div class="gew_about-staffCard-info">
            <span class="gew_about-staffCard-info-name">{{name}}</span>
            <span class="gew_about-staffCard-info-tel">{{tel}}</span>
          </div>
          <div class="gew_about-staffCard-buttons">
            <button type="button" name="button" class="btn btn-primary">Email</button>
            <button type="button" name="button" class="btn btn-primary">Vcard</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="gew_sectionContent bg-primary gew_about-quoteSlider">
  <div class="gew_slider">
    <button class="gew_slider-btn-prev">◀</button>
    <button class="gew_slider-btn-next">▶</button>

    <div class="gew_slider-slides">
      <div class="gew_slider-slide gew_slider-slide--active">
        <p class="gew_heroText gew_about-quoteSlider-quote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <span class="gew_about-quoteSlider-author">John Smith</span>
        <span class="gew_about-quoteSlider-role">Company Position</span>
      </div>
      <div class="gew_slider-slide">
        <p class="gew_heroText gew_about-quoteSlider-quote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <span class="gew_about-quoteSlider-author">John Smith</span>
        <span class="gew_about-quoteSlider-role">Company Position</span>
      </div>
      <div class="gew_slider-slide">
        <p class="gew_heroText gew_about-quoteSlider-quote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <span class="gew_about-quoteSlider-author">John Smith</span>
        <span class="gew_about-quoteSlider-role">Company Position</span>
      </div>
    </div>
  </div>
</div>

<div class="gew_sectionContent ">
  <h2 class="text-center">History</h2>
  <div class="gew_about-history-wrapper">
    <div class="gew_about-history">
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1978</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntt.
        </p>
      </div>
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1979</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1980</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1981</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1982</h3>
        <p>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1983</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div class="gew_about-history-entry">
        <h3 class="gew_about-history-entry-title">1984</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/components/slider.js"></script>
