<section class="container gew_about-landing gew_landingSection">
  <img
    class="gew_background-cover"
    srcset="{{srcSet 'about.landing_ik3snl.jpg'}}"
    sizes="100vw"
    src="{{srcSet 'about.landing_ik3snl.jpg' 1000}}"
  />
  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</section>

<!-- Nav tabs -->
<section class="gew_stickyNav" id="scrollpsy-target">
  <ul class="gew_sectionContent gew_stickyNav-list nav" role="tablist">
    <li>
      <a href="#section1" class="gew_stickyNav-list-item">{{data.section_2.title}}</a>
    </li>
    <li>
      <a href="#section2" class="gew_stickyNav-list-item">People</a>
    </li>
    <li>
      <a href="#section3" class="gew_stickyNav-list-item">History</a>
    </li>
  </ul>
</section>
<div class="gew_stickyNavDummy"></div>

<div class="gew_doubleColumn gew_sectionContent" id="section1">
  <h2>{{data.section_2.title}}</h2>
  <br>
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.section_2.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.section_2.content_2}}}
    </div>
  </div>
</div>

<!-- Paul's quote photos -->
<section class="gew_about-quoteSection">

  <img
    class="gew_background-cover"
    srcset="{{srcSet 'radiAndPaul_w2frty.jpg'}}"
    sizes="100vw"
    src="{{srcSet 'radiAndPaul_w2frty.jpg' 1000}}"
  />

  <div class="gew_sectionContent">
    <div class="gew_heroText gew_about-quoteSection-quote">
      {{data.section_3.content_1}}
    </div>
    <div class="row">
      <div class="col-sm-6">
        <span class="gew_about-quoteSection-author">Radi Siha</span>
        <span class="gew_about-quoteSection-role">Chairman &amp; CEO</span>
      </div>
      <div class="col-sm-6">
        <span class="gew_about-quoteSection-author">Paul Siha</span>
        <span class="gew_about-quoteSection-role">Managing Director</span>
      </div>
    </div>
  </div>
</section>

<!-- Staff photos -->
<section class="container gew_sectionContent gew_about-staffCards" id="section2">
  <div class="row">
    {{#each staff}}
      <div class="col-sm-4 gew_about-staffCard">

        <img
          class="gew_about-staffCard-photo"
          srcset="{{srcSet portrait.url}}"
          sizes="(max-width: 768px) 100vw, 50vw"
          src="{{srcSet portrait.url 700}}"
          alt="{{name}}"
          onClick="document.querySelector('#staffOverlay{{@index}}').classList.toggle('hidden')"
        />

        <div class="gew_about-staffCard-footer">
          <div class="gew_about-staffCard-info">
            <span class="gew_about-staffCard-info-name">{{name.full}}</span>
            <span class="gew_about-staffCard-info-tel">{{phone}}</span>
          </div>
          <div class="gew_about-staffCard-buttons">
            <a href="{{email}}" class="btn btn-primary">Email</a>
            <a href="{{linkedin}}" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>
      </div>

      <!-- This will be toggled by removing the 'hidden' class.-->
      <div class="row gew_about-staffOverlay hidden" id="staffOverlay{{@index}}">
        <div class="gew_sectionContent">
            <div>
              <button
                class="gew_about-staffOverlay-closeBtn"
                onClick="document.querySelector('#staffOverlay{{@index}}').classList.toggle('hidden')"
              >
                <!-- svg for 'X' button-->
                <svg
                  viewBox="0 0 31.588177 29.999998"
                  height="8.4666662mm"
                  width="8.9148855mm"
                >
                  <g transform="translate(-14.205271,-6.6024003)">
                    <path
                    d="m 35.869788,31.016817 c -3.23308,-3.072077 -5.88189,-5.585514 -5.88624,-5.585445 -0.0043,0 -2.65672,2.50966 -5.894156,5.576843 l -5.886246,5.576686 -0.05279,-0.04756 c -0.02904,-0.02614 -0.920781,-0.877169 -1.98166,-1.891134 l -1.92887,-1.843567 3.846298,-3.643252 c 2.115462,-2.0038 4.763601,-4.513704 5.884754,-5.577576 l 2.038459,-1.934304 -5.902034,-5.608118 -5.902032,-5.608134 2.014724,-1.914419 2.014725,-1.9144367 5.904828,5.6107287 5.90483,5.610728 2.726721,-2.581435 c 1.499694,-1.419807 4.160107,-3.939096 5.912028,-5.5984348 l 3.185312,-3.0169826 1.962505,1.8745962 c 1.435593,1.3712955 1.962503,1.8836502 1.962503,1.9082552 0,0.02483 -1.544028,1.496581 -5.882296,5.606949 -3.235263,3.065321 -5.882295,5.577769 -5.882295,5.583218 0,0.0054 2.645252,2.523416 5.878337,5.595475 l 5.878335,5.58555 -2.010769,1.910675 c -1.105928,1.050866 -2.014346,1.910677 -2.018709,1.910677 -0.0044,0 -2.653181,-2.513509 -5.886261,-5.585586 z" />
                  </g>
              </svg>
            </button>
          </div>

          <div class="row gew_doubleColumn">

            <div class="col-sm-6 gew_doubleColumn-col1">
              <div class="gew_about-staffOverlay-info">
                <span class="gew_about-staffOverlay-info-name">{{name.full}}</span>
                <span class="gew_about-staffOverlay-info-tel">{{phone}}</span>
              </div>
              <img
              class="gew_about-staffCard-photo"
              srcset="{{srcSet portrait.url}}"
              sizes="(max-width: 768px) 100vw, 50vw"
              src="{{srcSet portrait.url 700}}"
              alt="{{name}}"
              />
            </div>

            <div class="col-sm-6 gew_doubleColumn-col2">
              <p class="muted">
                Direct Telephone <br>
                {{phone}}
              </p>
              <p>{{info}}</p>
              <div class="gew_about-staffOverlay-buttons">
                <a href="{{email}}" class="btn btn-primary">Email</a>
                <a href="{{linkedin}}" class="btn btn-primary">LinkedIn</a>
              </div>
            </div>
          </div> <!-- doubleColumn -->
        </div> <!-- sectionContent -->
      </div> <!-- staffOverlay -->
    {{/each}}
  </div>
</section>

<section class="bg-primary ">
  <div class="gew_sectionContent">
    <div class="gew_slider js_gew_about-quoteSlider">
      <button class="gew_slider-btn-prev">◀</button>
      <button class="gew_slider-btn-next">▶</button>

      <div class="gew_slider-slides">
        <div class="gew_slider-slide gew_slider-slide--active">
          <p class="gew_heroText gew_about-quoteSlider-quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="gew_about-quoteSlider-author">John Smith</span>
          <span class="gew_about-quoteSlider-role">Company Position</span>
        </div>
        <div class="gew_slider-slide">
          <p class="gew_heroText gew_about-quoteSlider-quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="gew_about-quoteSlider-author">John Smith</span>
          <span class="gew_about-quoteSlider-role">Company Position</span>
        </div>
        <div class="gew_slider-slide">
          <p class="gew_heroText gew_about-quoteSlider-quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="gew_about-quoteSlider-author">John Smith</span>
          <span class="gew_about-quoteSlider-role">Company Position</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gew_sectionContent" id="section3">
  <h2 class="text-center">History</h2>

  <div class="gew_slider2 gew_about-historySlider js_gew_about-historySlider">
    <button class="gew_slider2-btn-prev">◀</button>
    <button class="gew_slider2-btn-next">▶</button>
    <div class="gew_slider2-contentWrapper">
      <div class="gew_slider2-content">

        <div class="gew_about-history gew_slider2-content">
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1978</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntt.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1979</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1980</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1981</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1982</h3>
            <p>
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1983</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="gew_about-history-entry">
            <h3 class="gew_about-history-entry-title">1984</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/components/slider1.js"></script>
<script type="text/javascript" src="/js/components/slider2.js"></script>
<script type="text/javascript">
  gewSlider1(document.querySelector('.js_gew_about-quoteSlider'));
  gewSlider2(document.querySelector('.js_gew_about-historySlider'));
</script>
