<section class="bg-primary gew_sectionContent-noPadding gew_caseStudyHeader gew_dark-text">
    <div class="gew_caseStudyHeader-address">
      <span class="gew_caseStudyHeader-address-line1">{{data.location.street1}}</span>
      <span class="gew_caseStudyHeader-address-line2">{{data.location.suburb}} {{data.location.postcode}}</span>
    </div>
    <a class="btn btn-dark" data-toggle="modal" data-target="#requestInfoModal">Request Info</a>
</section>


<div class="gew_caseStudy-image-slider"> </div>
<script type="text/javascript">
  require(['imageSlider'], function(imageSlider) {
    const container = document.querySelector('.gew_caseStudy-image-slider');
    const sizes = '100vw';
    const urls = [
      {{#each data.images}}
        { srcset: `{{srcSet url}}`,
          src: `{{cloudinaryUrl this width=1000 crop='lfill' gravity='center'}}`,
          sizes: sizes,
        },
      {{/each}}
    ];
    imageSlider(urls, container, { showThumbnails: false });
  });
</script>

<section class="gew_bg-light">
  <div class="container gew_sectionContent-mediumPadding">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="gew_property-h2">Key Details</h2>
        <p>
          <i class="gew_icon gew_icon-bed gew_caseStudy-keyDetailIcon" aria-hidden="true"></i>  {{data.bedrooms}} <br>
          <i class="gew_icon gew_icon-sofa gew_caseStudy-keyDetailIcon" aria-hidden="true"></i>  {{data.livingrooms}} <br>
          <i class="gew_icon gew_icon-bath gew_caseStudy-keyDetailIcon" aria-hidden="true"></i>  {{data.bathrooms}} <br>
          <i class="fa fa-map-o gew_caseStudy-keyDetailIcon" aria-hidden="true"></i> {{data.location.postcode}} <br>
        </p>
      </div>
      <div class="col-sm-8">
        <h2 class="gew_property-h2">Description</h2>
        {{{data.expanded_description}}}
      </div>
    </div>
  </div>
</section>

{{#if data.hasGeoInfo}}
  <section class="gew_bg-light" id="property-location">
    <div class="gew_property-map"></div>
  </section>
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsKey}}"></script>
  <script type="text/javascript">
    // Map options
    var mapContainer = document.querySelector('.gew_property-map');
    var options = {
      center: { lat: {{data.location.latitude}}, lng: {{data.location.longitude}} },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 14,
      scrollwheel: false,
      maxZoom: 17
    };

    // Create map
    var map = new google.maps.Map(mapContainer, options);

    // Add markers
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{data.location.latitude}}, {{data.location.longitude}}),
      map: map,
      icon: 'http://res.cloudinary.com/golden-eagle/image/upload/v1473755159/g4172_lefldr.png'
    });
  </script>
{{/if}}

<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="requestInfoModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Request Info</h4>
      </div>
      <div class="modal-body text-center">
        <form class="form-inline" method="POST" action="/contact">
          <p>{{data.location.street1}} {{data.location.suburb}} {{data.location.postcode}}</p>
          <input type="hidden" name="message" value="More info about {{data.location.street1}} {{data.location.suburb}} {{data.location.postcode}}">
          <div class="form-group">
            <input name="name" type="text" class="form-control gew_formField gew_formField-dark" placeholder="Name">
          </div>
          <div class="form-group">
            <input name="email" type="email" class="form-control gew_formField gew_formField-dark" placeholder="Email">
          </div>
          <div class="form-group">
            <input name="phone" type="tel" class="form-control gew_formField gew_formField-dark" placeholder="Telephone">
          </div>
          <button type="submit" class="btn btn-primary gew_formField">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
