<div class="container gew_international-landing gew_landingSection">
  <img
    class="gew_background-cover"
    srcset="{{srcSet 'photo-1459600661907-3c72c54955de-2_jf3btc.jpg'}}"
    sizes="100vw"
    src="{{srcSet 'photo-1459600661907-3c72c54955de-2_jf3btc.jpg' 1000}}"
  />

  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</div>

<!-- Nav tabs -->
<section class="gew_stickyNav">
  <ul class="gew_sectionContent gew_stickyNav-list">
    <li>
      <a href="#section1" class="gew_stickyNav-list-item">{{data.tab_1.title}}</a>
    </li>
    <li>
      <a href="#section2" class="gew_stickyNav-list-item">{{data.tab_2.title}}</a>
    </li>
    <li>
      <a href="#section3" class="gew_stickyNav-list-item">{{data.tab_3.title}}</a>
    </li>
    <li>
      <a href="#section4" class="gew_stickyNav-list-item">{{data.tab_4.title}}</a>
    </li>
  </ul>
</section>
<div class="gew_stickyNavDummy"></div>

<div class="gew_doubleColumn gew_sectionContent" id="section1">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_1.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_1.content_2}}}
    </div>
  </div>
</div>

<section class="gew_bg-light" id="section2">
  <div class="container gew_sectionContent">
    <div class="row">
      <div class="col-sm-6">
        {{{data.section_3.content_1}}}
      </div>
      <div class="col-sm-6">

        <div class="image-slider"></div>

        <script type="text/javascript">
          require(['imageSlider'], function(imageSlider) {
            const container = document.querySelector('.image-slider');
            const urls = [
              "{{srcSet 'fsfbkfdgv6voxsltspce.jpg' 500}}",
              "{{srcSet 'ye62wu6rmgknc8ek5v1v.jpg' 500}}",
              "{{srcSet 'ajnxbirn9kzypelgvs0n.jpg' 500}}",
              "{{srcSet 'j01ss71bjxklqvapxuew.jpg' 500}}",
            ];
            imageSlider(urls, container);
          });
        </script>

      </div>
    </div>
  </div>
</section>

<section class="container gew_sectionContent" id="section3">
    <br>
    <h2>The Apartments</h2>
    <br>

    <div class="row">
      {{#each featuredProperties}}
      <div class="col-sm-6 col-md-4">
        {{> propertyCard this}}
      </div>
      {{/each}}
    </div>
</section>

<section class="gew_bg-light" id="section4">
  <div class="container gew_sectionContent">
    <br>
    <h2>The Villas</h2>
    <br>
    <div class="row">
      {{#each featuredProperties}}
      <div class="col-sm-6 col-md-4">
        {{> propertyCard this}}
      </div>
      {{/each}}
    </div>
  </div>
</section>
