<div class="container gew_investments-landing gew_landingSection">
  <img
    class="gew_background-cover"
    srcset="{{srcSet 'investments.landing_lp9svi.jpg'}}"
    sizes="100vw"
    src="{{srcSet 'investments.landing_lp9svi.jpg' 1000}}"
  />

  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</div>

<section class="gew_bg-light">
  <div class="container gew_sectionContent gew_doubleColumn">
    <div class="row">
      <div class="col-sm-6 gew_doubleColumn-col1">
        {{{data.section_2.content_1}}}
      </div>
      <div class="col-sm-6 gew_doubleColumn-col2">
        {{{data.section_2.content_2}}}
      </div>
    </div>
  </div>
</section>

<section class="gew_sectionContent">
  <h2>Case Studies</h2>
  {{#each caseStudies}}
    {{>caseStudy this}}
  {{/each}}
</section>

<section class="bg-primary">
  <div class="gew_sectionContent-extraPadding text-center">
    {{>subscribeFields color="light"}}
  </div>
</section>
