<div class="container gew_management-landing gew_landingSection">
  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs gew_tabs gew_sectionContent" role="tablist">
  <li role="presentation" class="active">
    <a href="#home" aria-controls="home" role="tab" data-toggle="tab"
      onclick="function (e) { e.preventDefault(); $(this).tab('show');}"
    >
      {{data.tab_1.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"
      onclick="function (e) { e.preventDefault(); $(this).tab('show');}"
    >
      {{data.tab_2.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"
      onclick="function (e) { e.preventDefault(); $(this).tab('show');}"
    >
      {{data.tab_3.title}}
    </a>
  </li>
  <li role="presentation">
    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"
      onclick="function (e) { e.preventDefault(); $(this).tab('show');}"
    >
      {{data.tab_4.title}}
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content gew_doubleColumn gew_sectionContent">
  <div role="tabpanel" class="row tab-pane active" id="home">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_1.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_1.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="profile">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_2.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_2.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="messages">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_3.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_3.content_2}}}
    </div>
  </div>
  <div role="tabpanel" class="row tab-pane" id="settings">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_4.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_4.content_2}}}
    </div>
  </div>
</div>

<div class="gew_management-quoteSection gew_sectionContent-extraPadding">
  <div class="gew_heroText">
    {{data.section_3.content_1}}
  </div>
</div>

<div class="container gew_doubleColumn gew_sectionContent gew_bg-lighter">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.section_4.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      <img
        style="max-width: 100%"
        srcset="{{srcSet data.section_4.illustration 1240 1020 820 620 310}}"
        sizes="(max-width: 768px) 100vw, 50vw"
        src="{{cloudinaryUrl images.[0] width=700 crop='lfill' gravity='center'}}"
        alt="{{location.street1}}"
      />
    </div>
  </div>

  <div class="row">
    <table class="table table-striped gew_table gew_management-table">
      <tr>
        <th>Service</th>
        <th>Lettings Service</th>
        <th>Lettings Management</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
    </table>
  </div>
</div>

<div class="container gew_sectionContent gew_doubleColumn gew_bg-light">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.section_5.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.section_5.content_2}}}
    </div>
  </div>
</div>

<div class="gew_sectionContent-extraPadding bg-primary">
    <p class="gew_heroText">
      {{ data.section_6.content_1 }}
    </p>
</div>

<div class="container gew_doubleColumn gew_sectionContent gew_bg-lighter">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.section_7.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      <img
        style="max-width: 100%"
        srcset="{{srcSet data.section_7.illustration 1240 1020 820 620 310}}"
        sizes="(max-width: 768px) 100vw, 50vw"
        src="{{cloudinaryUrl images.[0] width=700 crop='lfill' gravity='center'}}"
        alt="{{location.street1}}"
      />
    </div>
  </div>
</div>
