<div class="container gew_management-landing gew_landingSection">
  <img
    class="gew_background-cover"
    srcset="{{srcSet 'management.landing_ryhpsy.jpg'}}"
    sizes="100vw"
    src="{{srcSet 'management.landing_ryhpsy.jpg' 1000}}"
  />

  <p class="gew_landingSection-text">
    {{data.section_1.content_1}}
  </p>
</div>

<section class="gew_stickyNav">
  <ul class="gew_sectionContent gew_stickyNav-list">
    <li>
      <a href="#section1" class="gew_stickyNav-list-item">{{data.tab_1.title}}</a>
    </li>
    <li>
      <a href="#section2" class="gew_stickyNav-list-item">{{data.tab_2.title}}</a>
    </li>
    <li>
      <a href="#section3" class="gew_stickyNav-list-item">{{data.tab_3.title}}</a>
    </li>
    <li>
      <a href="#section4" class="gew_stickyNav-list-item">{{data.tab_4.title}}</a>
    </li>
  </ul>
</section>
<div class="gew_stickyNavDummy"></div>

<div class="gew_doubleColumn gew_sectionContent" id="section1">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.tab_1.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      {{{data.tab_1.content_2}}}
    </div>
  </div>
</div>

<section class="gew_management-quoteSection">
  <img
    class="gew_background-cover"
    srcset="{{srcSet 'management.section_ze9qya.jpg'}}"
    sizes="100vw"
    src="{{srcSet 'management.section_ze9qya.jpg' 1000}}"
  />

  <div class="gew_sectionContent-extraPadding">
    <div class="gew_heroText">
      {{data.section_3.content_1}}
    </div>
  </div>
</section>

<section class="container gew_doubleColumn gew_sectionContent gew_bg-lighter" id="section2">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.section_4.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      <img
        style="max-width: 100%"
        srcset="{{srcSet data.section_4.illustration.url}}"
        sizes="(max-width: 768px) 100vw, 50vw"
        src="{{srcSet data.section_4.illustration.url 700}}"
        alt="{{location.street1}}"
      />
    </div>
  </div>

  <div class="row">
    <table class="table table-striped gew_table gew_management-table">
      <tr>
        <th>Service</th>
        <th>Lettings Service</th>
        <th>Lettings Management</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet</td>
        <td></td>
        <td><i class="glyphicon glyphicon-ok glyphicon"></i></td>
      </tr>
    </table>
  </div>
</section>

<section class="gew_bg-light" id="section3">
  <div class="container gew_sectionContent gew_doubleColumn">
    <div class="row">
      <div class="col-sm-6 gew_doubleColumn-col1">
        {{{data.section_5.content_1}}}
      </div>
      <div class="col-sm-6 gew_doubleColumn-col2">
        {{{data.section_5.content_2}}}
      </div>
    </div>
  </div>
</section>

<section class="bg-primary gew_dark-text">
  <div class="gew_sectionContent-extraPadding">
    <p class="gew_heroText">
      {{ data.section_6.content_1 }}
    </p>
  </div>
</section>

<div class="container gew_doubleColumn gew_sectionContent gew_bg-lighter" id="section4">
  <div class="row">
    <div class="col-sm-6 gew_doubleColumn-col1">
      {{{data.section_7.content_1}}}
    </div>
    <div class="col-sm-6 gew_doubleColumn-col2">
      <img
        style="max-width: 100%"
        srcset="{{srcSet data.section_7.illustration.url}}"
        sizes="(max-width: 768px) 100vw, 50vw"
        src="{{srcSet data.section_7.illustration.url 700}}"
        alt="{{location.street1}}"
      />
    </div>
  </div>
</div>
