<div class="container gew_landingSection" id="property-images">
  <img
    class="gew_background-cover"
    srcset="{{srcSet data.images.[0].url}}"
    sizes="100vw"
    src="{{cloudinaryUrl data.images.[0] width=700 crop='lfill' gravity='center'}}"
    alt="{{location.street1}}"
  />
</div>

<section class="row gew_property-actions gew_sectionContent-smallPadding gew_bg-dark">
  <div class="col-sm-6">
    <span class="gew_property-address">
      {{data.location.street1}}, {{data.location.suburb}}
    </span>
    <span class="gew_property-detailsSummary">
      {{#is acquisitionMode 'buy'}}
        {{formatCurrency data.buy.price}}
      {{else}}
        {{formatCurrency data.rent.price}}
      {{/is}}
    </span>
  </div>
  <div class="col-sm-6">
    <div class="gew_property-actionsBar">
      <a class="gew_property-actionsBar-action" href="#property-floorPlan">
        <i class="fa fa-cube" aria-hidden="true"> </i>
      </a>
      <a class="gew_property-actionsBar-action" href="#property-video">
        <i class="fa fa-file-video-o" aria-hidden="true"> </i>
      </a>
      <a class="gew_property-actionsBar-action" href="#property-images">
        <i class="fa fa-camera-retro" aria-hidden="true"> </i>
      </a>
      <a class="gew_property-actionsBar-action">
        <i class="fa fa-arrows-alt" aria-hidden="true"> </i>
      </a>
      <a class="gew_property-actionsBar-action" href="#property-location">
        <i class="fa fa-map-marker" aria-hidden="true"> </i>
      </a>
      <a class="btn btn-primary gew_property-actionsBar-button" >Contact Agent</a>
    </div>
  </div>
</section>

<section class="gew_bg-light gew_property-doubleColumn">
  <div class="container gew_sectionContent-smallPadding gew_doubleColumn">
    <div class="row">
      <div class="col-sm-4 gew_doubleColumn-col1">
        <h2 class="gew_property-h2">Key Details</h2>
        <p>
          Beds: {{data.bedrooms}} <br>
          Baths: {{data.bathrooms}} <br>
          Location: {{data.location.suburb}} <br>
          Size: {{data.size}}sq ft <br>
        </p>
      </div>
      <div class="col-sm-8 gew_doubleColumn-col2">
        <h2 class="gew_property-h2">Description</h2>
        {{{data.description}}}
      </div>
    </div>
  </div>
  <div class="gew_sectionContent-noPadding">
    <div class="gew_border-bottom"></div>
  </div>
</section>

{{#if data.floorPlan.url}}
  <section class="gew_bg-light gew_property-doubleColumn" id="property-floorPlan">
    <div class="container gew_sectionContent-smallPadding gew_doubleColumn">
      <div class="row">
        <div class="col-sm-4 gew_doubleColumn-col1">
          <h2 class="gew_property-h2">Floor Plan</h2>
        </div>
        <div class="col-sm-8 gew_doubleColumn-col2">
          <img
          style="width: 100%"
            srcset="{{srcSet data.floorPlan.url}}"
            sizes="50vw"
            src="{{cloudinaryUrl data.images.[0] width=700 crop='lfill' gravity='center'}}"
            alt="Floor plan"
          />
        </div>
      </div>
    </div>
    <div class="gew_sectionContent-noPadding">
      <div class="gew_border-bottom"></div>
    </div>
  </section>
{{/if}}


{{#if data.videoUrl}}
  <section class="gew_bg-light gew_property-doubleColumn" id="property-video">
    <div class="container gew_sectionContent-smallPadding gew_doubleColumn">
      <div class="row">
        <div class="col-sm-4 gew_doubleColumn-col1">
          <h2 class="gew_property-h2">Video</h2>
        </div>
        <div class="col-sm-8 gew_doubleColumn-col2">
          <iframe
            class="gew_property-video"
            src="{{toYoutubeEmbedUrl data.videoUrl}}"
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <div class="gew_sectionContent-noPadding">
      <div class="gew_border-bottom"></div>
    </div>
  </section>
{{/if}}

{{#if data.location.postcode}}
  <section class="gew_bg-light" id="property-location">
    <div class="gew_sectionContent-smallPadding"></div>
    <div class="gew_property-map"></div>
  </section>
{{/if}}

<section class="bg-primary gew_sectionContent gew_dark-text">
  <h2 class="text-center">Related properties</h2>

  
</section>

<script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsKey}}"></script>
<script type="text/javascript">
  // Map options
  var mapContainer = document.querySelector('.gew_property-map');
  var options = {
    center: { lat: {{data.location.latitude}}, lng: {{data.location.longitude}} },
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    zoom: 14,
    scrollwheel: false,
    maxZoom: 17
  };

  // Create map
  var map = new google.maps.Map(mapContainer, options);

  // Add markers
  var marker = new google.maps.Marker({
    position: new google.maps.LatLng({{data.location.latitude}}, {{data.location.longitude}}),
    map: map,
    icon: 'http://res.cloudinary.com/golden-eagle/image/upload/v1473755159/g4172_lefldr.png'
  });
</script>
