<div class="gew_property-image-slider"> </div>
<script type="text/javascript">
  require(['imageSlider'], function(imageSlider) {
    const container = document.querySelector('.gew_property-image-slider');
    const sizes = '100vw';
    const urls = [
      {{#each data.images}}
        { srcset: `{{srcSet url}}`,
          src: `{{cloudinaryUrl this width=1000 crop='lfill' gravity='center'}}`,
          sizes: sizes,
        },
      {{/each}}
    ];
    imageSlider(urls, container, { showThumbnails: false });
  });
</script>

<section class="gew_bg-dark">
  <div class="row gew_property-actions gew_sectionContent-smallPadding ">
    <div class="gew_property-actions-details">
      <span class="gew_property-address">
        {{data.location.street1}}, {{data.location.suburb}}
      </span>
      <span class="gew_property-detailsSummary">
        {{#is acquisitionMode 'buy'}}
        {{formatCurrency data.buy.price}}
        {{else}}
        {{formatCurrency data.rent.price}}
        {{/is}}
        {{data.bedrooms}} Bed
        {{data.bathrooms}} Bath
      </span>
    </div>
    <div class="gew_property-actions-actionBar">
      <div class="gew_property-actionsBar">
        <a class="gew_property-actionsBar-action" href="#property-floorPlan">
          <i class="fa fa-cube" aria-hidden="true"> </i>
        </a>
        <a class="gew_property-actionsBar-action" href="#property-video">
          <i class="fa fa-file-video-o" aria-hidden="true"> </i>
        </a>
        <a class="gew_property-actionsBar-action" href="#property-images">
          <i class="fa fa-camera-retro" aria-hidden="true"> </i>
        </a>
        <a class="gew_property-actionsBar-action">
          <i class="fa fa-arrows-alt" aria-hidden="true"> </i>
        </a>
        <a class="gew_property-actionsBar-action" href="#property-location">
          <i class="fa fa-map-marker" aria-hidden="true"> </i>
        </a>
        <a class="btn btn-primary gew_property-actionsBar-button" >Contact Agent</a>
      </div>
    </div>
  </div>
</section>

<section class="gew_bg-light">
  <div class="container gew_sectionContent-mediumPadding">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="gew_property-h2">Key Details</h2>
        <p>
          <i class="gew_icon gew_icon-bed gew_property-keyDetailIcon" aria-hidden="true"></i>  {{data.bedrooms}} <br>
          <i class="gew_icon gew_icon-sofa gew_property-keyDetailIcon" aria-hidden="true"></i>  {{data.livingrooms}} <br>
          <i class="gew_icon gew_icon-bath gew_property-keyDetailIcon" aria-hidden="true"></i>  {{data.bathrooms}} <br>
          <i class="fa fa-map-o gew_property-keyDetailIcon" aria-hidden="true"></i> {{data.location.postcode}} <br>
        </p>
      </div>
      <div class="col-sm-8">
        <h2 class="gew_property-h2">Description</h2>
        {{{data.description}}}
      </div>
    </div>
  </div>
</section>

{{#if data.floorPlan.url}}
  <section class="gew_bg-light" id="property-floorPlan">
    <div class="gew_sectionContent-noPadding ">
      <div class="gew_border-top"></div>
    </div>

    <div class="container gew_sectionContent-mediumPadding">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="gew_property-h2">Floor Plan</h2>
        </div>
        <div class="col-sm-8">
          <img
          style="width: 100%"
            srcset="{{srcSet data.floorPlan.url}}"
            sizes="50vw"
            src="{{cloudinaryUrl data.images.[0] width=700 crop='lfill' gravity='center'}}"
            alt="Floor plan"
          />
        </div>
      </div>
    </div>
  </section>
{{/if}}


{{#if data.videoUrl}}
  <div class="gew_sectionContent-noPadding ">
    <div class="gew_border-top"></div>
  </div>
  <section class="gew_bg-light" id="property-video">

    <div class="container gew_sectionContent-mediumPadding">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="gew_property-h2">Video</h2>
        </div>
        <div class="col-sm-8">
          <iframe
            class="gew_property-video"
            src="{{toYoutubeEmbedUrl data.videoUrl}}"
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </section>
{{/if}}

{{#if data.hasGeoInfo}}
  <section class="gew_bg-light" id="property-location">
    <div class="gew_property-map"></div>
  </section>
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsKey}}"></script>
  <script type="text/javascript">
    // Map options
    var mapContainer = document.querySelector('.gew_property-map');
    var options = {
      center: { lat: {{data.location.latitude}}, lng: {{data.location.longitude}} },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 14,
      scrollwheel: false,
      maxZoom: 17
    };

    // Create map
    var map = new google.maps.Map(mapContainer, options);

    // Add markers
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{data.location.latitude}}, {{data.location.longitude}}),
      map: map,
      icon: 'http://res.cloudinary.com/golden-eagle/image/upload/v1473755159/g4172_lefldr.png'
    });
  </script>
{{/if}}

<section class="bg-primary">
  <div class="gew_sectionContent gew_dark-text">
    <h2 class="text-center">Related properties</h2>

    <div class="row gew_property-related">
      {{#each data.related}}
      <div class="col-md-4">
        {{> propertyCard data=this buyRent=../acquisitionMode}}
      </div>
      {{/each}}
    </div>
  </div>
</section>
