<div id="header">
    <div onmouseover="gew.toggleNavbarSubmenu('hide')" class="gew_navbar-submenu-pageOverlay"></div>

    <div class="gew_navbar">
      <!-- Mobile navbar -->
      <div class="gew_navbar-mobileNav">
        <ul class="gew_sectionContent">
          {{# each navLinks}}
          {{#if submenu}}
          <li class="gew_navbar-mobileNav-btn-hasSubmenu">
            <a href="{{ href }}" class="gew_navbar-mobileNav-label">{{ label }}</a>
            <ul class="gew_navbar-mobileNav-submenu">
              {{#each submenu}}
                <a href="{{ href }}" class="gew_navbar-mobileNav-submenu-btn">{{ label }}</a>
              {{/each}}
            </ul>
          </li>
          {{else}}
          <li class="gew_navbar-mobileNav-btn">
            <a href="{{ href }}" class="gew_navbar-mobileNav-label">{{ label }}</a>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>

      <div class="gew_navbar-header">
        <!-- Toggling buttton -->
        <a class="gew_navbar-toggle" href="#">
        	<div class="gew_navbar-toggle-inner"></div>
        </a>


        <!-- Logo Image -->
        <a href="/" class="gew_navbar-brand">
          <img
            class="gew_navbar-logo"
            sizes="50px"
            src="{{srcSet 'logo_uiauoz.svg' 50}}"
            alt="Golden Eagle"
            height="50px"
          />
          <div class="gew_navbar-highlight"></div>
        </a>
      </div>

      <!-- Part that collapses -->
      <ul class="gew_navbar-collapse-left">
          {{# each navLinks}}
            <li>
            {{#if submenu}}
                    <a href="{{ href }}"
                      class="gew_navbar-button"
                      onmouseover="gew.toggleNavbarSubmenu('show')"
                      onclick="gew.toggleNavbarSubmenu('hide')"
                    >

                      {{ label }}
                    </a>

                    <div class="gew_navbar-submenu container">
                      <div class="row">
                        {{#each submenu}}
                          <a href="{{ href }}" class="col-sm-6  gew_navbar-submenu-btn">
                            <img
                              class="gew_navbar-submenu-background"
                              srcset="{{srcSet background}}"
                              sizes="(max-width: 1150px) 100vw, 50vw"
                              src="{{srcSet background 700}}"
                              alt="{{ label }}"
                            />
                            <div class="gew_navbar-submenu-overlay"></div>
                            <span class="gew_navbar-submenu-title">{{ label }}</span>
                          </a>
                        {{/each}}
                      </div>
                    </div>
            {{else}}
                    <a
                      href="{{ href }}"
                      class="gew_navbar-button {{#ifeq ../section key}}active{{/ifeq}}"
                      onmouseover="gew.toggleNavbarSubmenu('hide')">
                      {{ label }}
                    </a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      <ul class="gew_navbar-collapse-right">
        <li><a class="gew_navbar-button gew_navbar-button-divider">Language</a></li>
        <li><a class="gew_navbar-button">Search</a></li>
      </ul>
    </div>
  </div>
