<!-- Uses buy price as default. uses global variables 'buyRent' and 'data' -->

<a href="/property/{{#is buyRent 'buy'}}buy{{else}}rent{{/is}}/{{data.slug}}"
  class="gew_propertyCard">
  <img
    class="gew_propertyCard-image"
    srcset="{{srcSet data.images.[0].url}}"
    sizes="(max-width: 768px) 100vw, 50vw"
    src="{{cloudinaryUrl data.images.[0] width=700 crop='lfill' gravity='center'}}"
    alt="{{location.street1}}"
  />

  <div class="gew_propertyCard-info-addressWrapper">
    <div class="gew_propertyCard-info-address">
      <p class="gew_propertyCard-info-address-line">
        {{data.location.street1}}
      </p>
      <p class="gew_propertyCard-info-address-line">
        {{data.location.suburb}}
      </p>
    </div>
    <button class="btn btn-primary gew_propertyCard-info-viewBtn">View</button>
  </div>

  <p class="gew_propertyCard-price">
    Price
    {{#is buyRent 'buy'}}
      {{formatCurrency data.buy.price}}
    {{else}}
      {{formatCurrency data.rent.price}}
    {{/is}}
  </p>
</a>
